<div class="w-full h-5/6 flex flex-col lg:flex-row items-center justify-center">
  <img src="<%= spotify_info[:image_url] %>" class="w-52 lg:w-44 object-cover object-center group-hover:opacity-75">
  <div class="flex flex-col mt-4 lg:ml-8 lg:mt-0">
    <p class="lg:ml-2 text-lg text-knoiz-blanc"><%= spotify_info[:name] %></p>
    <p class="lg:ml-2 text-sm text-knoiz-gris-text"><%= spotify_info[:artist] %></p>
    <p class="lg:ml-2 text-sm text-knoiz-gris-text"><%= spotify_info[:album] %></p>
    <div class="w-full flex justify-center lg:w-fit">
      <%= link_to spotify_info[:track_link], class: "w-fit  mt-4 text-center flex flex-row items-center rounded-2xl border border-transparent bg-knoiz-violet-principale px-3.5 py-3.5 text-base font-medium text-white shadow-sm hover:bg-knoiz-violet-principale-hover focus:outline-none", target: "_blank" do %>
        <%= image_tag "spotify-logo.png", alt: "Listen on Spotify", class: "mr-2 h-5 w-5" %>
        Listen on Spotify
      <% end %>
    </div>
  </div>
</div>
