<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>












<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-spotify-noir py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, :html => {:class => 'space-y-6'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-spotify-blanc">Sign up to Djai.app</h2>
        <div class="field">
          <label for="email" class="ml-1 block text-sm font-medium text-spotify-blanc">Email</label>
          <div class="mt-1 field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "px-4 py-3 block w-full text-spotify-blanc rounded-md border-none bg-spotify-gris placeholder-gray-400 focus:border-spotify-vert focus:outline-none focus:ring-spotify-vert sm:text-sm" %>
          </div>
        </div>
        <div class="field">
          <label for="password" class="ml-1 block text-sm font-medium text-spotify-blanc">Password</label>
          <div class="mt-1">
            <%= f.password_field :password, autocomplete: "new-password", class: "px-4 py-3 block w-full text-spotify-blanc rounded-md border-none bg-spotify-gris placeholder-gray-400 focus:border-spotify-vert focus:outline-none focus:ring-spotify-vert sm:text-sm", placeholder: "Enter your password" %>
          </div>
        </div>
        <div class="field">
          <label for="password" class="ml-1 block text-sm font-medium text-spotify-blanc">Password confirmation</label>
          <div class="mt-1">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "px-4 py-3 block w-full text-spotify-blanc rounded-md border-none bg-spotify-gris placeholder-gray-400 focus:border-spotify-vert focus:outline-none focus:ring-spotify-vert sm:text-sm", placeholder: "Confirm your password" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: "mt-4 cursor-pointer w-full text-center items-center rounded-md border border-transparent bg-spotify-vert px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-spotify-vert-hover focus:outline-none" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
