<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="m-auto">
<div class="grid max-w-md grid-cols-1 gap-8 mx-auto isolate lg:mx-0 test:max-w-none test:grid-cols-3">
  <div class="p-8 rounded-3xl xl:p-10 ring-1 ring-white/10">
    <div class="flex items-center justify-between gap-x-4">
      <h2 id="tier-freelancer" class="text-2xl font-semibold leading-8 text-white">7-Day Pass</h2>
    </div>
    <p class="flex items-center justify-center gap-2 mt-4 text-sm leading-6 text-gray-300">
      One-time payment. No subscription
      <svg class="w-4 fill-gray-300" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M94.6785 31.4698C75.9099 66.3698 38.4175 80.5585 3.59528 60.9107C2.43603 60.2565 0.965988 60.6655 0.311743 61.8104C-0.342503 62.9758 0.0664445 64.4478 1.22569 65.1021C38.5504 86.181 78.8049 71.1539 98.9229 33.7597C99.5526 32.5943 99.1131 31.1221 97.9416 30.4883C96.7701 29.8749 95.3082 30.3045 94.6785 31.4698Z"></path><path d="M32.8988 45.9428C36.7758 45.9428 39.9187 42.7999 39.9187 38.9229C39.9187 35.0459 36.7758 31.9031 32.8988 31.9031C29.0218 31.9031 25.8789 35.0459 25.8789 38.9229C25.8789 42.7999 29.0218 45.9428 32.8988 45.9428Z"></path><path d="M61.9608 38.4754C65.762 38.4754 68.8436 35.394 68.8436 31.5927C68.8436 27.7915 65.762 24.7101 61.9608 24.7101C58.1596 24.7101 55.0781 27.7915 55.0781 31.5927C55.0781 35.394 58.1596 38.4754 61.9608 38.4754Z"></path></svg>
    </p>
    <p class="flex items-baseline mt-6 gap-x-1">
      <!-- Price, update based on frequency toggle state -->
      <span class="text-2xl leading-6 text-gray-500 line-through">$5</span>

      <span class="text-4xl font-bold tracking-tight text-white">$3</span>
      <!-- Payment frequency, update based on frequency toggle state -->
      <span class="text-sm font-semibold leading-6 text-gray-300">USD</span>
    </p>
    <%= form_with url: '/payments/create_checkout_session', data: { turbo: false } do |form| %>
      <%= form.hidden_field :price, value: 7 %>
      <%= form.submit "Get 7-Day Pass", class: "cursor-pointer block px-3 py-2 mt-6 text-sm font-medium leading-6 text-center text-white rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-white/10 hover:bg-white/20 focus-visible:outline-white" %>
    <% end %>
    <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-300 xl:mt-10">
      <li class="flex gap-x-3">
        <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        Unlimited playlists
      </li>
      <li class="flex gap-x-3">
        <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        All Stats
      </li>
    </ul>
  </div>
  <div class="p-8 rounded-3xl xl:p-10 bg-white/5 ring-2 ring-knoiz-violet-principale">
    <div class="flex items-center justify-between gap-x-4">
      <h2 id="tier-startup" class="text-2xl font-semibold leading-8 text-white">30-Day Pass</h2>
      <p class="rounded-full bg-knoiz-violet-principale px-2.5 py-1 text-xs font-semibold leading-5 text-white">Most popular</p>
    </div>
    <p class="flex items-center justify-center gap-2 mt-4 text-sm leading-6 text-gray-300">
      One-time payment. No subscription
      <svg class="w-4 fill-gray-300" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M94.6785 31.4698C75.9099 66.3698 38.4175 80.5585 3.59528 60.9107C2.43603 60.2565 0.965988 60.6655 0.311743 61.8104C-0.342503 62.9758 0.0664445 64.4478 1.22569 65.1021C38.5504 86.181 78.8049 71.1539 98.9229 33.7597C99.5526 32.5943 99.1131 31.1221 97.9416 30.4883C96.7701 29.8749 95.3082 30.3045 94.6785 31.4698Z"></path><path d="M32.8988 45.9428C36.7758 45.9428 39.9187 42.7999 39.9187 38.9229C39.9187 35.0459 36.7758 31.9031 32.8988 31.9031C29.0218 31.9031 25.8789 35.0459 25.8789 38.9229C25.8789 42.7999 29.0218 45.9428 32.8988 45.9428Z"></path><path d="M61.9608 38.4754C65.762 38.4754 68.8436 35.394 68.8436 31.5927C68.8436 27.7915 65.762 24.7101 61.9608 24.7101C58.1596 24.7101 55.0781 27.7915 55.0781 31.5927C55.0781 35.394 58.1596 38.4754 61.9608 38.4754Z"></path></svg>
    </p>
    <p class="flex items-baseline mt-6 gap-x-1">
      <!-- Price, update based on frequency toggle state -->
      <span class="text-2xl leading-6 text-gray-500 line-through">$9</span>

      <span class="text-4xl font-bold tracking-tight text-white">$5</span>
      <!-- Payment frequency, update based on frequency toggle state -->
      <span class="text-sm font-semibold leading-6 text-gray-300">USD</span>
    </p>
    <%= form_with url: '/payments/create_checkout_session', data: { turbo: false } do |form| %>
      <%= form.hidden_field :price, value: 30 %>
      <%= form.submit "Get 30-Day Pass", class: "cursor-pointer block px-3 py-2 mt-6 font-semibold leading-6 text-center text-white rounded-md shadow-sm text-md bg-knoiz-violet-principale focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-knoiz-violet-principale focus-visible:outline-knoiz-violet-principale" %>
    <% end %>
    <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-300 xl:mt-10">
      <li class="flex gap-x-3">
        <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        Unlimited playlists
      </li>
      <li class="flex gap-x-3">
        <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        All Stats
      </li>
    </ul>
  </div>
  <div class="p-8 rounded-3xl xl:p-10 ring-1 ring-white/10">
    <div class="flex items-center justify-between gap-x-4">
      <h2 id="tier-enterprise" class="text-2xl font-semibold leading-8 text-white">180-Day Pass</h2>
    </div>
    <p class="flex items-center justify-center gap-2 mt-4 text-sm leading-6 text-gray-300">
      One-time payment. No subscription
      <svg class="w-4 fill-gray-300" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M94.6785 31.4698C75.9099 66.3698 38.4175 80.5585 3.59528 60.9107C2.43603 60.2565 0.965988 60.6655 0.311743 61.8104C-0.342503 62.9758 0.0664445 64.4478 1.22569 65.1021C38.5504 86.181 78.8049 71.1539 98.9229 33.7597C99.5526 32.5943 99.1131 31.1221 97.9416 30.4883C96.7701 29.8749 95.3082 30.3045 94.6785 31.4698Z"></path><path d="M32.8988 45.9428C36.7758 45.9428 39.9187 42.7999 39.9187 38.9229C39.9187 35.0459 36.7758 31.9031 32.8988 31.9031C29.0218 31.9031 25.8789 35.0459 25.8789 38.9229C25.8789 42.7999 29.0218 45.9428 32.8988 45.9428Z"></path><path d="M61.9608 38.4754C65.762 38.4754 68.8436 35.394 68.8436 31.5927C68.8436 27.7915 65.762 24.7101 61.9608 24.7101C58.1596 24.7101 55.0781 27.7915 55.0781 31.5927C55.0781 35.394 58.1596 38.4754 61.9608 38.4754Z"></path></svg>
    </p>
    <p class="flex items-baseline mt-6 gap-x-1">
      <!-- Price, update based on frequency toggle state -->
      <span class="text-2xl leading-6 text-gray-500 line-through">$29</span>

      <span class="text-4xl font-bold tracking-tight text-white">$19</span>
      <!-- Payment frequency, update based on frequency toggle state -->
      <span class="text-sm font-semibold leading-6 text-gray-300">USD</span>
      
    </p>
    <%= form_with url: '/payments/create_checkout_session', data: { turbo: false } do |form| %>
      <%= form.hidden_field :price, value: 180 %>
      <%= form.submit "Get 180-Day Pass", class: "cursor-pointer block px-3 py-2 mt-6 text-sm font-medium leading-6 text-center text-white rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-white/10 hover:bg-white/20 focus-visible:outline-white" %>
    <% end %>
    <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-300 xl:mt-10">
      <li class="flex gap-x-3">
        <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        Unlimited playlists
      </li>
      <li class="flex gap-x-3">
        <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        All Stats
      </li>
    </ul>
  </div>
</div>

</div>
