<!-- subscription-app/app/views/users/info.html.erb -->
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<% if @subscription.active %>
  <h2>You are subscribed to <%= @product[:name] %></h2>
  <p><%= @product[:description] %></p>
  <% if @subscription_info[:canceled_at].present? %>
    <p>You requested cancellation on: <%= @subscription_info[:canceled_at] %></p>
    <p>You can keep using the subscription up until: <%= @subscription_info[:renews_on] %></p>
  <% else %>
    <p>Renews on: <%= @subscription_info[:renews_on] %></p>
  <% end %>
  <%= form_tag url_for(:controller => 'subscriptions', :action => 'cancel'), method: :get do %>
   <%= submit_tag "Submit", class: "cursor-pointer w-full text-center items-center rounded-md border border-transparent bg-spotify-vert px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-spotify-vert-hover focus:outline-none" %>
  <% end %>
<% end %>
