<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="flex items-center justify-center w-full h-full">
  <div class="p-8 bg-knoiz-noir sm:mx-auto sm:w-full sm:max-w-md rounded-3xl">
    <h1 class="mb-8 text-3xl font-medium text-knoiz-blanc">User profile</h1>
    <% if @subscription.active && @subscription_info[:expires_at].present? %>
      <h2 class="text-white">Your current plan is Knoiz Plus.</h2>
      <p class="text-white">You have Knoiz Plus until <%= @subscription_info[:expires_at].strftime("%d %B %Y") %>.</p>
    <% else %>
      <h2 class="text-white">Your current plan is Knoiz Free.</h2>
      <%= form_with url: '/payments/create_checkout_session', data: { turbo: false } do |form| %>
        <%= form.hidden_field :price, value: 30 %>
        <%= form.submit "Get Unlimited Access 🔓", class: "mt-6 cursor-pointer w-full text-center rounded-2xl border border-transparent bg-knoiz-violet-principale px-3.5 py-3.5 text-base font-medium text-white shadow-sm hover:bg-knoiz-violet-principale-hover focus:outline-none" %>
      <% end %>
    <% end %>
    <%= form_tag url_for(:controller => 'sessions', :action => 'destroy'), method: :delete do %>
      <%= submit_tag "Log out", class: "mt-4 cursor-pointer w-full text-center items-center rounded-md border border-transparent bg-knoiz-rouge px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-knoiz-rouge-hover focus:outline-none" %>
    <% end %>
  </div>
</div>
