<div class="min-h-full h-full flex flex-1 flex-col md:pl-64 bg-[url('bg.png')] bg-cover bg-center">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="sticky top-0 z-10 flex h-16 flex-shrink-0">
    <button type="button" class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden">
      <span class="sr-only">Open sidebar</span>
      <!-- Heroicon name: outline/bars-3-bottom-left -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
      </svg>
    </button>
    <div class="flex flex-1 w-full justify-end px-4">
      <div class="ml-4 flex items-center md:ml-6">
        <% if !session[:spotify_user_data] and user_signed_in? %>
          <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: "inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          <%= link_to "Sign up", new_user_registration_path, class: "inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <% end %>
      </div>
    </div>
  </div>
  <main class="flex-1">
    <div class="py-6 flex h-full items-center">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <%= yield %>
      </div>
    </div>
  </main>
</div>
