<div class="h-full flex flex-1 flex-col size2:pl-[328px]">
  <div class="relative w-full flex justify-center">
    <% if @current_user %>
      <% if !@current_user.subscription.stripe_user_id.present? %>
        <div x-data="{ notification: true }" x-show="notification" class="z-50 pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
          <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
            <div class="pointer-events-auto w-full max-w-sm rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
              <div class="w-full flex flex-col p-4">
                <div class="w-full flex flex-row justify-between">
                  <div class="flex flex-row items-center">
                    <div class="flex-shrink-0 pt-0.5">
                      <%= image_tag "knoiz-logo-bg-blanc.png", alt: "Knoiz logo", class: "h-10 w-10 rounded-full" %>
                    </div>
                    <div class="ml-3 flex-1">
                      <p class="text-xl font-medium text-gray-900">7 days free trial</p>
                    </div>
                  </div>
                  <div>
                    <div class="ml-4 flex flex-shrink-0">
                      <button @click="notification = false" type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-knoiz-violet-principale focus:ring-offset-2">
                        <span class="sr-only">Close</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="w-full mt-4 flex">
                  <%= form_with url: '/checkout_session/create', data: { turbo: false }, class: "w-full" do |form| %>
                    <%= form.submit "Get started today", class: "justify-center cursor-pointer w-full inline-flex items-center rounded-xl bg-knoiz-violet-principale px-3 py-2 text-base font-semibold text-white shadow-sm hover:bg-knoiz-violet-principale-hover" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div x-data="{ notification: true }" x-show="notification" class="z-40 pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
        <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
          <div class="pointer-events-auto w-full max-w-sm rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
            <div class="w-full flex flex-col p-4">
              <div class="w-full flex flex-row justify-between">
                <div class="flex flex-row items-center">
                  <div class="flex-shrink-0 pt-0.5">
                    <%= image_tag "knoiz-logo-bg-blanc.png", alt: "Knoiz logo", class: "h-10 w-10 rounded-full" %>
                  </div>
                  <div class="ml-3 flex-1">
                    <p class="text-xl font-medium text-gray-900">7 days free trial</p>
                  </div>
                </div>
                <div>
                  <div class="ml-4 flex flex-shrink-0">
                    <button @click="notification = false" type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-knoiz-violet-principale focus:ring-offset-2">
                      <span class="sr-only">Close</span>
                      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="w-full mt-4 flex">
                <%= form_with url: '/checkout_session/create', data: { turbo: false }, class: "w-full" do |form| %>
                  <%= form.submit "Get started today", class: "justify-center cursor-pointer w-full inline-flex items-center rounded-xl bg-knoiz-violet-principale px-3 py-2 text-base font-semibold text-white shadow-sm hover:bg-knoiz-violet-principale-hover" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless notice.nil? %>
      <div x-data="{ showNotice: true }" x-show="showNotice" class="z-40 absolute w-9/12 mt-4 rounded-md bg-green-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <!-- Heroicon name: mini/check-circle -->
            <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-green-800"><%= notice %></p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button type="button" @click="showNotice = false" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
                <span class="sr-only">Dismiss</span>
                <!-- Heroicon name: mini/x-mark -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless flash[:info].nil? %>
      <div x-data="{ showInfo: true }" x-show="showInfo" class="z-40 absolute w-9/12 mt-4 rounded-md bg-yellow-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-yellow-800"><%= flash[:info] %></p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button type="button" @click="showInfo = false" class="inline-flex rounded-md bg-yellow-50 p-1.5 text-yellow-500 hover:bg-yellow-100 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2 focus:ring-offset-yellow-50">
                <span class="sr-only">Dismiss</span>
                <!-- Heroicon name: mini/x-mark -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div x-data="{ showAlert: true }" x-show="showAlert" class="z-40 absolute w-9/12 mt-4 rounded-md bg-red-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <!-- Heroicon name: mini/check-circle -->
            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-red-800"><%= alert %></p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button type="button" @click="showAlert = false" class="inline-flex rounded-md bg-red-50 p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">
                <span class="sr-only">Dismiss</span>
                <!-- Heroicon name: mini/x-mark -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div x-data="{id: 1}" class="sticky relative z-10 flex flex-shrink-0">
    <button type="button" @click="$dispatch('open-dropdown',{id})" class="absolute m-4 bg-knoiz-violet-principale rounded-full p-4 text-knoiz-blanc size2:hidden">
      <span class="sr-only">Open sidebar</span>
      <!-- Heroicon name: outline/bars-3-bottom-left -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
  <main class="h-screen p-0 size5:p-10">
    <div class="bg-knoiz-gris overflow-y-scroll rounded-none size5:rounded-3xl mx-auto w-full h-full p-10 flex flex-col">
      <%= yield %>
    </div>
  </main>
</div>
