<!-- subscription-app/app/views/users/info.html.erb -->
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="bg-spotify-noir rounded-3xl">
  <div class="bg-spotify-vert rounded-tl-3xl rounded-tr-3xl">
    <!-- Header section with select menu -->
    <div class="mx-auto max-w-2xl py-16 px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <div class="sm:px-4 lg:flex lg:items-center lg:justify-between lg:px-0">
        <div class="max-w-xl">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl">Pricing Plans</h2>
          <p class="mt-5 text-xl text-spotify-blanc">Start building for free, then add a site plan to go live. Account plans unlock additional features.</p>
        </div>
        <div class="mt-10 w-full max-w-xs lg:mt-0">
          <label for="currency" class="block text-base font-medium text-spotify-blanc">Currency</label>
          <div class="relative mt-1.5">
            <select id="currency" name="currency" class="block w-full rounded-md border border-transparent bg-indigo-400 bg-opacity-25 bg-none text-white focus:border-white focus:ring-white">
              <option class="bg-gray-900">Argentina (ARS)</option>
              <option class="bg-gray-900">Australia (AUD)</option>
              <option class="bg-gray-900" selected>United States (USD)</option>
              <option class="bg-gray-900">Canada (CAD)</option>
              <option class="bg-gray-900">France (EUR)</option>
              <option class="bg-gray-900">Japan (JPY)</option>
              <option class="bg-gray-900">Nigeria (NGN)</option>
              <option class="bg-gray-900">Switzerland (CHF)</option>
              <option class="bg-gray-900">United Kingdom (GBP)</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
              <!-- Heroicon name: mini/chevron-down -->
              <svg class="h-4 w-4 text-spotify-blanc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Comparison table -->
  <div class="bg-spotify-noir mx-auto max-w-2xl py-16 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8 rounded-bl-3xl rounded-br-3xl">
    <!-- xs to lg -->
    <div class="space-y-24 lg:hidden">
      <section>
        <div class="mb-8 px-6 sm:px-4">
          <h2 class="text-lg font-medium leading-6 text-spotify-blanc">Free</h2>
          <p class="mt-4">
            <span class="text-4xl font-bold tracking-tight text-spotify-blanc">$0</span>
          </p>
          <p class="mt-4 text-sm text-spotify-text-gris">Quis suspendisse ut fermentum neque vivamus non tellus.</p>
        </div>
        <table class="w-full">
          <caption class="border-t border-gray-200 bg-spotify-gris py-3 px-6 text-left text-sm font-medium text-spotify-blanc sm:px-4">
            Features
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Molestie lobortis massa.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Urna purus felis.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Tellus pulvinar sit dictum.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Convallis.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="w-full">
          <caption class="border-t border-gray-200 bg-spotify-gris py-3 px-6 text-left text-sm font-medium text-spotify-blanc sm:px-4">
            Reporting
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Adipiscing.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Eget risus integer.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Gravida leo urna velit.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="w-full">
          <caption class="border-t border-gray-200 bg-spotify-gris py-3 px-6 text-left text-sm font-medium text-spotify-blanc sm:px-4">
            Support
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Sit dignissim.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Congue at nibh et.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Volutpat feugiat mattis.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Tristique pellentesque ornare diam sapien.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="border-t border-gray-200 px-6 pt-5 sm:px-4">
        </div>
      </section>
      <section>
        <div class="mb-8 px-6 sm:px-4">
          <h2 class="text-lg font-medium leading-6 text-spotify-blanc">Premium</h2>
          <p class="mt-4">
            <span class="text-4xl font-bold tracking-tight text-spotify-blanc">$2</span>
            <span class="text-base font-medium text-spotify-text-gris">/wk</span>
          </p>
          <p class="mt-4 text-sm text-spotify-text-gris">Orci volutpat ut sed sed neque, dui eget. Quis tristique non.</p>
          <%= form_with url: '/checkout_session/create', data: { turbo: false } do |form| %>
            <%= form.submit "Get started today", class: "mt-4 cursor-pointer inline-block w-full rounded-lg bg-spotify-vert px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-spotify-vert-hover" %>
          <% end %>
        </div>
        <table class="w-full">
          <caption class="border-t border-gray-200 bg-spotify-gris py-3 px-6 text-left text-sm font-medium text-spotify-blanc sm:px-4">
            Features
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Molestie lobortis massa.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Urna purus felis.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Tellus pulvinar sit dictum.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Convallis.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <span class="block text-right text-sm text-spotify-text-gris">Up to 50 users</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="w-full">
          <caption class="border-t border-gray-200 bg-spotify-gris py-3 px-6 text-left text-sm font-medium text-spotify-blanc sm:px-4">
            Reporting
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Adipiscing.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Eget risus integer.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Gravida leo urna velit.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="w-full">
          <caption class="border-t border-gray-200 bg-spotify-gris py-3 px-6 text-left text-sm font-medium text-spotify-blanc sm:px-4">
            Support
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Sit dignissim.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Congue at nibh et.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Volutpat feugiat mattis.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-spotify-text-gris sm:px-4" scope="row">Tristique pellentesque ornare diam sapien.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="border-t border-gray-200 px-6 pt-5 sm:px-4">
          <%= form_with url: '/checkout_session/create', data: { turbo: false } do |form| %>
            <%= form.submit "Get started today", class: "cursor-pointer inline-block w-full rounded-lg bg-spotify-vert px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-spotify-vert-hover" %>
          <% end %>
        </div>
      </section>
    </div>
    <!-- lg+ -->
    <div class="hidden lg:block">
      <table class="h-px w-full table-fixed">
        <caption class="sr-only">
          Pricing plan comparison
        </caption>
        <thead>
          <tr>
            <th class="w-1/3 pb-4 pl-6 pr-6 text-left text-sm font-medium text-spotify-blanc" scope="col">
              <span class="sr-only">Feature by</span>
              <span>Plans</span>
            </th>
            <th class="w-1/3 px-6 pb-4 text-left text-lg font-medium leading-6 text-spotify-blanc" scope="col">Free</th>
            <th class="w-1/3 px-6 pb-4 text-left text-lg font-medium leading-6 text-spotify-blanc" scope="col">Premium</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 border-t border-gray-200">
          <tr>
            <th class="py-8 pl-6 pr-6 text-left align-top text-sm font-medium text-spotify-blanc" scope="row">Pricing</th>
            <td class="h-full py-8 px-6 align-top">
              <div class="flex h-full flex-col justify-between">
                <div>
                  <p>
                    <span class="text-4xl font-bold tracking-tight text-spotify-blanc">$0</span>
                  </p>
                  <p class="mt-4 text-sm text-spotify-text-gris">Quis suspendisse ut fermentum neque vivamus non tellus.</p>
                </div>
              </div>
            </td>
            <td class="h-full py-8 px-6 align-top">
              <div class="flex h-full flex-col justify-between">
                <div>
                  <p>
                    <span class="text-4xl font-bold tracking-tight text-spotify-blanc">$2</span>
                    <span class="text-base font-medium text-spotify-text-gris">/wk</span>
                  </p>
                  <p class="mt-4 text-sm text-spotify-text-gris">Orci volutpat ut sed sed neque, dui eget. Quis tristique non.</p>
                </div>
                <%= form_with url: '/checkout_session/create', data: { turbo: false } do |form| %>
                  <%= form.submit "Get started today", class: "mt-4 cursor-pointer inline-block w-full rounded-lg bg-spotify-vert px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-spotify-vert-hover" %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <th class="bg-spotify-gris py-3 pl-6 text-left text-sm font-medium text-spotify-blanc" colspan="4" scope="colgroup">Features</th>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Molestie lobortis massa.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Urna purus felis.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Tellus pulvinar sit dictum.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Convallis.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-spotify-text-gris">Up to 50 users</span>
            </td>
          </tr>
          <tr>
            <th class="bg-spotify-gris py-3 pl-6 text-left text-sm font-medium text-spotify-blanc" colspan="4" scope="colgroup">Reporting</th>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Adipiscing.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Eget risus integer.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Gravida leo urna velit.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="bg-spotify-gris py-3 pl-6 text-left text-sm font-medium text-spotify-blanc" colspan="4" scope="colgroup">Support</th>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Sit dignissim.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Congue at nibh et.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Volutpat feugiat mattis.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-spotify-text-gris" scope="row">Tristique pellentesque ornare diam sapien.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Premium</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="border-t border-gray-200">
            <th class="sr-only" scope="row">Choose your plan</th>
            <td class="px-6 pt-5">
            </td>
            <td class="px-6 pt-5">
              <%= form_with url: '/checkout_session/create', data: { turbo: false } do |form| %>
                <%= form.submit "Get started today", class: "cursor-pointer inline-block w-full rounded-lg bg-spotify-vert px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-spotify-vert-hover" %>
              <% end %>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
