<!-- Last played / Genre -->
<div class="w-full flex flex-col size1:flex-row mb-10">
  <div class="rounded-3xl bg-knoiz-noir w-full h-fit size1:h-full size1:w-9/12 p-10 mb-10 size1:mr-10 size1:mb-0">
    <div class="mb-6 flex flex-row items-center">
      <%= render 'shared/stats/spotify_header', title: (@last_played ? 'Lastly played on Spotify' : (@is_playing_statut ? 'Currently played on Spotify' : 'Currently paused on Spotify')) %>
    </div>
    <%= render 'shared/stats/spotify_song_info', spotify_info: @spotify_info %>
  </div>
  <div class="rounded-3xl bg-knoiz-noir w-full p-10">
    <%= render 'shared/stats/header', title: 'Most listened genres' %>
    <div class="flex flex-col w-full">
      <% [90, 75, 70, 60, 45].each_with_index do |width, index| %>
        <div class="bg-knoiz-violet-principale px-3 py-2 rounded-lg min-w-fit mt-1 mb-1" style="width: <%= width %>%;">
          <p class="text-knoiz-blanc"><%= @current_user.spotifydata.favorite_genre[index][0] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Your Top Listened -->
<div data-controller="tops" class="w-full bg-knoiz-noir p-10 mb-10 rounded-3xl">
  <div class="flex flex-col size3:flex-row justify-between mb-6">
    <%= render 'shared/stats/header', title: 'Your Top Listened' %>
    <div class="flex flex-col items-start justify-center size6:flex-row size6:justify-start size6:items-center">
      <div x-data="{ dropdown: false }" class="relative inline-block text-left">
        <% content = capture do %>
          <a data-action="click->tops#tracks" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Tracks</a>
          <a data-action="click->tops#artists" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Artists</a>
        <% end %>
        <%= render partial: "shared/stats/dropdown", locals: { object_id: 'object-type', default: 'Tracks', content: content } %>
      </div>
      <div x-data="{ dropdown: false }" class="ml-0 mt-2 size6:mt-0 size6:ml-2 relative inline-block text-left">
        <% content = capture do %>
          <a data-action="click->tops#short_term" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">1 month</a>
          <a data-action="click->tops#medium_term" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">6 months</a>
          <a data-action="click->tops#long_term" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">+1 year</a>
        <% end %>
        <%= render partial: "shared/stats/dropdown", locals: { object_id: 'object-term', default: '1 month', content: content } %>
      </div>
    </div>
  </div>
  <% ['tracks', 'artists'].each do |type| %>
    <div id="<%= type %>" class="<%= type == 'tracks' ? '' : 'hidden' %>">
      <% ['short_term', 'medium_term', 'long_term'].each do |term| %>
        <div id="<%= "#{term}_#{type}" %>" class="<%= term != 'short_term' ? 'hidden' : '' %>">
          <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-8">
            <% if type == 'tracks' %>
              <%= render partial: 'shared/stats/track_partial', locals: { tracks: instance_variable_get("@top_#{type}_#{term}") } %>
            <% else %>
              <%= render partial: 'shared/stats/artist_partial', locals: { artists: instance_variable_get("@top_#{type}_#{term}") } %>
            <% end %>
            <%= render partial: 'shared/stats/show_more', locals: { path: tops_path } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<!-- Recently played / Top Global-->
<% [{ title: 'Recently played tracks', tracks: @recently_played, path: recently_path }, { title: 'Top 50 global charts tracks', tracks: @top_global_tracks, path: top_global_path }].each_with_index do |section, index| %>
  <div class="w-full bg-knoiz-noir p-10 <%= 'mb-10' if index == 0 %> rounded-3xl">
    <%= render 'shared/stats/header', title: section[:title] %>
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-8">
      <%= render partial: 'shared/stats/track_partial', locals: { tracks: section[:tracks] } %>
      <%= render partial: 'shared/stats/show_more', locals: { path: section[:path] } %>
    </div>
  </div>
<% end %>
