<div data-controller="tops" class="flex flex-col bg-spotify-noir w-full rounded-3xl">
  <div class="flex flex-col size3:flex-row justify-between mb-6">
    <%= render 'shared/stats/header', title: 'Your Top Listened' %>
    <div class="flex flex-col items-start justify-center size6:flex-row size6:justify-start size6:items-center">
      <div x-data="{ dropdown: false }" class="relative inline-block text-left">
        <% content = capture do %>
          <a data-action="click->tops#tracks" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Tracks</a>
          <a data-action="click->tops#artists" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Artists</a>
        <% end %>
        <%= render partial: "shared/stats/dropdown", locals: { object_id: 'object-type', default: 'Tracks', content: content } %>
      </div>
      <div x-data="{ dropdown: false }" class="ml-0 mt-2 size6:mt-0 size6:ml-2 relative inline-block text-left">
        <% content = capture do %>
          <a data-action="click->tops#short_term" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">1 month</a>
          <a data-action="click->tops#medium_term" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">6 months</a>
          <a data-action="click->tops#long_term" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">+1 year</a>
        <% end %>
        <%= render partial: "shared/stats/dropdown", locals: { object_id: 'object-term', default: '1 month', content: content } %>
      </div>
    </div>
  </div>
  <% ['tracks', 'artists'].each do |type| %>
    <div id="<%= type %>" class="<%= type == 'tracks' ? '' : 'hidden' %>">
      <% ['short_term', 'medium_term', 'long_term'].each do |term| %>
        <div id="<%= "#{term}_#{type}" %>" class="<%= term != 'short_term' ? 'hidden' : '' %>">
          <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-8">
            <% if type == 'tracks' %>
              <%= render partial: 'shared/stats/track_partial', locals: { tracks: instance_variable_get("@top_#{type}_#{term}") } %>
            <% else %>
              <%= render partial: 'shared/stats/artist_partial', locals: { artists: instance_variable_get("@top_#{type}_#{term}") } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
