<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Knoiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script async defer data-domain="knoiz.fr" src="https://plausible.io/js/script.js"></script> 
    <%= javascript_importmap_tags %>
 </head>
  <body class="h-full bg-knoiz-noir">
    <%= render "shared/navbar" %>
    <%= render "shared/content" %>
  </body>
</html>
